@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

:root{
    --var-primary-color: #2888E8FF;
}

html{
    font-size: 62.5%;
}

/* Header & Footer Design */

.login-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* adjust the height as needed */    
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../assest/Loginpage\ img\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-container{
    height: 10vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-family: "math";
    font-style: normal;
    font-size: 5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
    display: flex;
    gap: 3.5rem;
    font-size: 2rem;
    font-weight: 500;
}

li > a{
    color: #fff;
    text-decoration: none;
}

.container{
    width:450px;
    margin:50px auto;
    border-radius:10px;
    box-shadow:0 20px 35px rgba(0,0,1,0.9);
    position: relative;
    max-width: 900px;
    padding: 60px 0;
    background-color: #e8e8e891;
}
form{
    margin:0 2rem;
}
.form-title{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0.4rem;
}
input{
    color:inherit;
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:2px solid #757575;
    padding-left:1.5rem;
    font-size:15px;
}
.input-group{
    font-size: 1.5rem;
    padding: 5% 0;
    position: relative;

}
.input-group i{
    position:absolute;
    color:black;
}
input:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom:2px solid hsl(327,90%,28%);
}
input::placeholder{
    color:transparent;
}
label{
    color:#757575;
    position:relative;
    left:1.2em;
    top:-1.3em;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top:-3em;
    color:hsl(327,90%,28%);
    font-size:15px;
}
.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.recover a{
    font-size: 15px;
    text-decoration:none;
    color: #07001f;
}
.recover a:hover{
    color:blue;
    text-decoration:underline;
}
.btn{
    font-size: 15px;
    padding: 10px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: var(--var-primary-color);
    color: white;
    border: .1rem solid #fff;
    cursor: pointer;
    transition: 0.9s;
}
.btn:hover{
    background:#07001f;
}
.or{
    font-size:2rem;
    margin-top:0.5rem;
    text-align:center;
}
.icons{
    font-size: xx-large;
    text-align:center;
}
.icons i{
    color: #07001f;
    padding:0.8rem 1.5rem;
    border-radius:10px;
    font-size:1.5rem;
    cursor:pointer;
    border:2px solid #dfe9f5;
    margin:0 15px;
    transition:1s;
}
.icons i:hover{
    background: #fff;
    font-size:1.6rem;
    border:2px solid var(--var-primary-color);
}
.links{
    align-items: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 2.5rem;
    font-weight: bold;
}
#signUpButton, #signInButton{
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    color: white;
    border: .1rem solid #fff;
    cursor: pointer;
    transition: 0.9s;
    background-color: var(--var-primary-color);
}
#signUpButton:hover, #signInButton:hover {
    background:#07001f;
} 
.messageDiv{
    background-color:hsl(327,90%,28%);
    color:white;
    padding:10px 20px;
    margin:10px;
    border-radius: 5px;
    font-size:1rem;
    opacity:0;
    animation:fadeOut 7s forwards;

}
/* MEDIA QUERY */

@media screen and (max-width: 500px) {
    .nav-container {
        height: 10vh;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container {
        position: unset;
        width: auto;
        margin: 50px 25px;
        background-color: #e8e8e887;
    }
    .logo a {
        font-size: 3rem;
    }
    ul {
        font-weight: 600;
        gap: 2rem;
        position: absolute;
        top: 70px;
        left: 0;
        right: 38px;
        flex-direction: column;
        text-align: end;
        overflow: hidden;
    }
    .menu-icon {
        font-size: xx-large;
        color: #fff;
        display: block;
    }
    #menuList {
        font-size: 18px;
        transition: all 0.5s;
    }
}

